/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  text-transform: uppercase;
  font-weight: bolder;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

nav {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
}

.nav-preorder-button {
  background-color: #e8eff2;
  color: #162542;
}
.nav-preorder-button:hover {
  background-color: #162542;
  color: #e8eff2;
}

.Introduction {
  display: flex;
  flex-wrap: wrap;
}

.title-container {
  max-width: 25rem;
}

h1 {
  font-size: 2.5rem;
}

.intro-preorder-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.intro-preorder-button {
  background-color: #f16718;
}

.intro-preorder-button:hover {
  background-color: #ff9b62;
}

picture {
  overflow-x: hidden;
}

picture > * {
  border-radius: 1rem;
}

.first-image {
  position: relative;
  max-width: 20rem;
  left: 3rem;
  max-height: 20rem;
}

.second-image {
  position: relative;
  height: 10rem;
  width: 100%;
  margin-top: 1rem;
}
.third-image {
  width: 10rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 0.8rem;
}

.features-title {
  display: flex;
  flex-direction: column;
  border: 4rem;
  text-align: center;
}

.about-keyboard-container img {
  width: 3rem;
  height: 3rem;
  background-color: #f16718;
  padding: 1rem;
  border-radius: 0.5rem;
}

.about-keyboard-container {
  margin-top: 1rem;
}

.about-keyboard-container * {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .Introduction {
    flex-wrap: wrap;
  }
  .first-image {
    margin: 1rem;
  }
  .second-image {
    width: 10rem;
    height: fit-content;
  }

  .third-image {
    width: 17rem;
    height: fit-content;
  }

  .features-title {
    max-width: 12rem;
    margin-left: 4rem;
  }

  .about-keyboard-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 4rem;
  }
  .about-keyboard-container > * {
    flex: 50%;
    flex-wrap: wrap;
    max-width: 10rem;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 1rem;
  }

  .third-image {
    width: 25rem;
    height: fit-content;
  }
}
