.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container button {
  background-color: #ebeff2;
  color: #162542;
  border-style: none;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.nav-container button:hover {
  background-color: #162542;
  color: #ffffff;
}
